{# Use the public base template to get the standard DOMjudge menu/header #}
{% extends 'jury/base.html.twig' %}


{% block title %}Extensions Plugin{% endblock %}


{% block content %}
    <h1>Extensions Plugin Page</h1>
    <p>This is an extension from the DOMjudge system.</p>
{% endblock %}
